@using Agenda_B.Helpers
@model IEnumerable<Agenda_B.Models.Formulario>

@{
    ViewData["Title"] = "Index";
}

<h6>Formularios</h6>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Leido)
            </th>
            <th>@Alias.Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Paciente.NombreCompleto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Leido)
                </td>
                <td>
                    @if (!item.Leido)
                    {
                        <a class="btn btn-outline-primary" role="button"  asp-action="Leer" asp-route-id="@item.Id">Leer</a>
                    }
                    <a class="btn btn-outline-primary" role="button" asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                </td>
            </tr>
        }
    </tbody>
</table>
