@using Agenda_B.Helpers
@model IEnumerable<Agenda_B.Models.Profesional>

@{
    ViewData["Title"] = "Index";
}

<h6>Profesionales</h6>

<p>
    <a asp-action="Create">Crear nuevo Profesional</a>
</p>
<div class="container border bg-light">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Matricula)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prestacion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoraInicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoraFin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Alias.Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Matricula)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prestacion.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoraInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoraFin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreCompleto)
                    </td>
                    <td>
                        <a class="btn btn-sm btn-outline-primary" role="button" asp-action="Edit" asp-route-id="@item.Id">Modificar</a> |
                        <a class="btn btn-sm btn-outline-primary" role="button" asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                        <a class="btn btn-sm btn-outline-danger" role="button" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>