@using Agenda_B.Helpers
@model IEnumerable<Agenda_B.Models.Turno>

@{
    ViewData["Title"] = "Index";
}


<h6>Turnos</h6>
<div class="container border bg-light">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Paciente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Profesional)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Activo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Confirmado)
                </th>

                <th>@Alias.Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Paciente.NombreCompleto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Profesional.NombreCompleto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Activo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Confirmado)
                    </td>

                    <td>
                        <a class="btn btn-outline-primary" role="button" asp-action="Activar" asp-route-id="@item.Id">Activar</a>
                        @if (!item.Confirmado)
                        {
                            <a class="btn btn-outline-success" role="button" asp-action="Confirmar" asp-route-id="@item.Id">Confirmar</a>
                        }
                        else
                        {
                            <a class="btn btn-outline-danger" role="button" asp-action="Cancelar" asp-route-id="@item.Id">Cancelar</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
<div>
    <a class="btn btn-sm btn-outline-dark mt-2" role="button" asp-controller="Turnos" asp-action="Cancelados">Turnos Cancelados</a>

</div>

